
.bg-0 {
    background: url("backgrounds/aboutme_techie_bg2.gif");
}

.bg-1 {
    background: url("backgrounds/aboutme_techie_discbg.gif");
}

.bg-2 {
    background: url("backgrounds/backjpmidnitesatin.jpg");
}

.bg-3 {
    background: url("backgrounds/copyrightsunshiney.jpg");
}

.bg-4 {
    background: url("backgrounds/LinkTileImg.gif");
}

.bg-5 {
    background: url("backgrounds/pinkbg.gif");
}

.bg-6 {
    background: url("backgrounds/pinkdots.gif");
}

.bg-7 {
    background: url("backgrounds/ResumeChronGreenBkgnd.gif");
}

.bg-8 {
    background: url("backgrounds/SkyBlueImg2.gif");
}

.bg-9 {
    background: url("backgrounds/SkyGreyImg.gif");
}
